.explorar-origem {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.explorar-origem select {
  background-color: var(--main-dourado-color);
  border: 1px solid var(--main-dourado-color);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  height: 35px;
  margin: 10px 0 0;
  padding: 5px;
  width: 250px;
}
