.explore-by-ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 0 40px;
}

.ingredients-cards {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 6px;

  /* Referência do box shadow:
  https://www.w3schools.com/css/css3_shadows_box.asp */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  width: 150px;
}

.ingredients-cards img {
  width: inherit;
}

.ingredients-cards span {
  color: var(--main-dourado-color);
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}
